/* FeedbackOptions.module.css */

.button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: rgb(142, 225, 207);
  border: 2px solid rgb(225, 142, 168);
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: rgb(225, 142, 168);
  color: white;
}